/*CLEARFIX DEFAULT CODE*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/*CLEARFIX DEFAULT CODE*/

.site-header{	
	color:   #acd61d;
	padding: 10px 5%;
}

.site-header h1{
	margin: 0;
	font-size: 20px;
	float: left;
	width: 30%;
	padding: 0px 15%;
}

.main-nav{
	float:right;
}

.main-nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-nav ul li{
	display: inline;
}

.main-nav ul li a{
	text-decoration: none;
	color:  #acd61d  ;
	width: 50%
}

.body-main {
	background-image: url("AA Background.jpg");
	background-size: 100%;
}

.billboard{	
	text-align: center;
	padding: 20px;
	color: white;
}

.billboard h2{
	margin-top: 0;
}

.intro-text {
	font-size:18px; 
	color: #fff;
	width: 100%;
}	

.intro-text2{
	text-align: left;
	margin: 0 auto;
	width: 65%;
 	height: 50%;
}
.column-wrapper{
	float:right;
	  height: 207px;
  width: 30%;
  padding-top: 33px;
}

.sidebar-col{
	float: right;
	padding: 5px 2.5%;
}

.body-sec{
	background-color:  #fff;
}

.main-footer{
	color:#fff;
	font-size: 10px;
	padding: 40px 5%;
}

.copyright{
	float:left;
}

.table-log{
	margin-right: 0px;
	padding-top: 5px;
	  width:712px;
  height: 207px;
 	float: left;
 	
}
.chart1{
	margin-left: 230px;
}
.chart-gaadi{
	display: inline-block;
	float: left;
}